<%- include('../includes/head.ejs') %>

<%- include('../includes/navigation.ejs', {html:html}) %>
<div class="col-lg-8">
    <form id="audits" name="audits" action="/audits" method="get" >
        <fieldset>
            <div class="row">
                <div class="col-lg-5">
                    <div class="form-group">
                        <label for="initialDate">Fecha Inicial</label>
                        <input type="date" class="form-control" id="initialDate" name="initialDate">
                        <label for="finalDate">Fecha Final</label>
                        <input type="date" class="form-control" id="finalDate" name="finalDate">
                    </div>
                </div>
            </div>

            <button type="submit" class="btn btn-success text-white">Confirmar</button>
        </fieldset>

    </form>
</div>
<br>
<br>
<%if(audits.length > 0) {%>
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Fecha</th>date
            <th scope="col">Acción</th>
        </tr>
        </thead>
        <tbody>
        <%audits.forEach(audit => {%>
        <tr class="table-light">
            <th scope="row"><%=audit.id%></th>
            <td><%=audit.date%></td>
            <td><%=audit.audit_action%></td>
        </tr>
        <%})%>
        </tbody>
    </table>
<%}
else {
%>
    <h1>No existen registros de bitacora</h1>
<%}%>

<%- include('../includes/end.ejs') %>
