<%- include('../includes/head.ejs') %>

<%- include('../includes/navigation.ejs', {html:html}) %>
<div class="col-lg-8">
    <form id="errors" name="errors" action="/errors" method="get" >
        <fieldset>
            <div class="row">
                <div class="col-lg-5">
                    <div class="form-group">
                        <label for="initialDate">Fecha Inicial</label>
                        <input type="date" class="form-control" id="initialDate" name="initialDate">
                        <label for="finalDate">Fecha Final</label>
                        <input type="date" class="form-control" id="finalDate" name="finalDate">
                    </div>
                </div>
            </div>

            <button type="submit" class="btn btn-success text-white">Confirmar</button>
        </fieldset>

    </form>
</div>
<br>
<br>
<%if(errors.length > 0) {%>
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Fecha</th>
            <th scope="col">Error</th>
        </tr>
        </thead>
        <tbody>
        <%errors.forEach(error => {%>
        <tr class="table-light">
            <th scope="row"><%=error.id%></th>
            <td><%=error.date%></td>
            <td><%=error.message%></td>
        </tr>
        <%})%>
        </tbody>
    </table>
<%}
else {
%>
    <h1>No existen registros de Errores</h1>
<%}%>

<%- include('../includes/end.ejs') %>
