<%- include('../includes/head.ejs') %>

<%- include('../includes/navigation.ejs', {html:html}) %>
<div class="col-lg-8">
    <form id="orders" name="orders" >
        <fieldset>
            <div class="row">
                <div class="col-lg-5">
                    <div class="form-group">
                        <label for="initialDate">Fecha Inicial</label>
                        <input type="date" class="form-control" id="initialDate">
                        <label for="finalDate">Fecha Final</label>
                        <input type="date" class="form-control" id="finalDate">
                    </div>
                </div>
            </div>

            <button type="submit" class="btn btn-success text-white">Confirmar</button>
        </fieldset>

    </form>
</div>
<br>
<br>
<%if(orders.length > 0) {%>
<fieldset>
    <legend>Ordenes</legend>
    <% orders.forEach(order => {%>
    <div class="form-group">
        <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="customCheck1">
            <label class="custom-control-label <%=order.status === 'Procesado' ? 'text-green' : 'text-yellow'%>" for="customCheck1"><%=`Order ${order.id}, Fecha: ${order.date} Estado: ${order.status}`%></label>
        </div>
    </div>
</fieldset>
    <%})%>
<%}
else {
%>
    <h1>No existen registros de ordenes</h1>
<%}%>

<%- include('../includes/end.ejs') %>
