<%- include('../includes/head.ejs') %>

<%- include('../includes/navigation.ejs', {html:html}) %>
<div class="col-lg-8">
    <form id="products" name="products" action="/productsRegistry" method="get" >
        <fieldset>
            <div class="row">
                <div class="col-lg-5">
                    <div class="form-group">
                        <label for="cardType">Lineas de Comida</label>
                        <select  class="form-control" id="foodType" name="foodType" >
                            <%foodLines.forEach(line => {%>
                                <option value="<%=line.id%>"><%=line.name%></option>
                            <%})%>
                        </select>
                    </div>
                </div>
            </div>

            <button type="submit" class="btn btn-success text-white">Confirmar</button>
        </fieldset>

    </form>
</div>
<br>
<br>
<%if(products.length > 0) {%>
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Titulo</th>
            <th scope="col">Tipo Comida</th>
            <th scope="col">Precios disponibles</th>
        </tr>
        </thead>
        <tbody>
        <%products.forEach(product => {%>
        <tr class="table-light">
            <th scope="row"><%=product.id%></th>
            <td><%=product.name%></td>
            <td><%=product.foodType%></td>
            <td>
                <%priceTypes.filter(price => price.id === product.id)
                        .forEach(p => { %>
                <ul>
                    <li><%=p.name != undefined ? p.name : 'No existen precios asociados a este producto'%></li>
                </ul>
                <%})%>
            </td>
        </tr>
        <%})%>
        </tbody>
    </table>
<%}
else {
%>
    <h1>No existen registros de Productos</h1>
<%}%>

<%- include('../includes/end.ejs') %>
