<%- include('includes/head.ejs') %>

<%- include('includes/navigation.ejs', {html:html},{html:html}) %>

<h1><%=translatedDay%></h1>
<div class="row">
    <div class="col-lg-5">
        <% if(todaySchedules.length < 1 ) {%>
            <h2>No hay citas hoy</h2>
        <%} else {%>
            <ul>
                <%todaySchedules.forEach(schedule => {%>
                    <li><%=schedule.hour%> - Espacios Libres: <%=schedule.total%></li>
                <%})%>
            </ul>
        <%}%>
    </div>
</div>

<%- include('includes/end.ejs') %>
