<%- include('./includes/head.ejs') %>
<div class="container h-100" >
    <div class="row h-100 justify-content-center align-items-center">
        <div class="col-10 col-md-8 col-lg-6">
            <!-- Form -->
            <%if(errors.length > 0) {%>
            <div class="alert alert-dismissible alert-danger">
                <strong><%=errors%></strong>
            </div>
            <%}%>
            <form class="form-example" action="/newPassword" method="post">
                <h1>Restablecer contraseña</h1>
                <!-- Input fields -->
                <div class="form-group">
                    <label for="username">Password:</label>
                    <input type="text" class="form-control username" id="password" placeholder="*******" name="password">
                </div>
                <input type="hidden" name="id" value="<%=userId%>">
                <input type="hidden" name="token" value="<%=passwordToken%>">
                <button type="submit" class="btn btn-primary btn-customized">Login</button>
                <!-- End input fields -->
            </form>
            <!-- Form end -->
        </div>
    </div>
</div>
<%- include('includes/end.ejs')%>
