<%- include('../../includes/head.ejs') %>

<%- include('../../includes/navigation.ejs', {html:html}) %>

<h2>Tipos de Tarjetas</h2>
<a type="button" class="btn btn-primary text-white" href="/cardType/new">Nuevo</a>
<br><br>
<table class="table table-hover">
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Nombre</th>
        <th scope="col"></th>
        <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <%cardTypes.forEach(type => {%>
    <tr class="table-light">
        <th scope="row"><%=type.id%></th>
        <td><%=type.name%></td>
        <td><a class="btn btn-secondary text-white" href="/cardType/<%=type.id%>">Editar</a></td>
        <td>
            <%if(!constraints.includes(type.id)) {%>
                <form action="/cardType/delete" method="post">
                    <input type="hidden" value="<%= type.id %>" name="cardTypeId">
                    <button class="btn btn-danger" type="submit">Eliminar</button>
                </form>
            <%}%>
        </td>
    </tr>
    <%})%>
    </tbody>
</table>
<br>
<br>

<%- include('../../includes/end.ejs') %>
