<%- include('../../includes/head.ejs') %>

<%- include('../../includes/navigation.ejs', {html:html}) %>

<div class="col-lg-8">
    <form id="editPaymentProcessor" name="editPaymentProcessor" method="post" action="<%=paymentProcessor.length > 0 ? '/paymentProcessor/edit' : '/paymentProcessor'%>">
        <fieldset>
            <legend>Informacion de Procesador de Pago</legend>
            <div class="form-group">
                <label for="processor">Procesador</label>
                <input type="text" class="form-control" id="processor" name="processor"
                       value="<%= paymentProcessor.length > 0 ? paymentProcessor[0].processor_name : ''  %>">
                <label for="paymentName">Nombre en Opción de Pago</label>
                <input type="text" class="form-control" id="paymentName" name="paymentName"
                       value="<%= paymentProcessor.length > 0 ? paymentProcessor[0].payment_name : ''  %>">
            </div>
            <div class="form-group">
                <label for="paymentName">Metodo</label>
                <input type="text" class="form-control" id="method" name="method"
                       value="<%= paymentProcessor.length > 0 ? paymentProcessor[0].method : ''  %>">
            </div>
            <div class="form-group">
                <label for="paymentType">Tipo de Pago</label>
                <select multiple="" class="form-control" id="paymentType" name="paymentType">
                    <%paymentMethods.forEach(method => {%>
                    <option value="<%=method.id%>"
                        <%if (paymentProcessor.length > 0) {%>
                            <%= method.id == paymentProcessor[0].payment_type_id ? 'selected' : '' %>
                        <%}%>><%=method.name%>
                    </option>
                    <%})%>
                </select>
            </div>
            <div class="form-check">
                <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" value="true" name="active"
                    <%if (paymentProcessor.length > 0) {%>
                        <%= paymentProcessor[0].is_active === 1 ? 'checked' : '' %>
                    <%}%>
                    >
                    Activo
                </label>
            </div>
            <div class="form-check">
                <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" value="true" name="verified"
                    <%if (paymentProcessor.length > 0) {%>
                        <%= paymentProcessor[0].is_verified === 1 ? 'checked' : '' %>
                    <%}%>
                    >
                    Requiere Verificacion
                </label>
            </div>
            <div class="form-group">
                <label for="cardType">Tipo de Tarjetas</label>
                <select multiple="" class="form-control" id="cardType" name="cardType">
                    <%cardTypes.forEach(type => {%>
                    <option value="<%=type.id%>"
                        <%if (paymentProcessor.length > 0) {%>
                            <%= type.id == paymentProcessor[0].card_type_id ? 'selected' : '' %>
                        <%}%>><%=type.name%>
                    </option>
                    <%})%>
                </select>
            </div>
            <%if (paymentProcessor.length > 0) {%>
                <input type="hidden" value="<%= paymentProcessor[0].id%>" name="id">
            <%}%>
            <button type="submit" class="btn btn-success text-white">Confirmar</button>
        </fieldset>

    </form>
</div>

<%- include('../../includes/end.ejs') %>
