<%- include('../../includes/head.ejs') %>

<%- include('../../includes/navigation.ejs', {html:html}) %>

<h2>Procesadores de Pago</h2>
<a type="button" class="btn btn-primary text-white" href="/paymentProcessor/new">Nuevo</a>
<br><br>
<table class="table table-hover">
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Procesador</th>
        <th scope="col">Tipo de Pago</th>
        <th scope="col">Activo</th>
        <th scope="col"></th>
        <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <%paymentProcessors.forEach(payment => {%>
    <tr class="table-light">
        <th scope="row"><%=payment.id%></th>
        <td><%=payment.processor_name%></td>
        <td><%=payment.payment_type%></td>
        <td><%=payment.is_active === 1 ? 'Si' : 'No'%></td>
        <td><a class="btn btn-secondary text-white" href="/paymentProcessor/<%=payment.id%>">Editar</a></td>
        <td>
            <form action="/paymentProcessor/delete" method="post">
                <input type="hidden" value="<%= payment.id %>" name="paymentProcessorId">
                <button class="btn btn-danger" type="submit">Eliminar</button>
            </form>
        </td>
    </tr>
    <%})%>
    </tbody>
</table>
<br>
<br>

<%- include('../../includes/end.ejs') %>
