<%- include('../../includes/head.ejs') %>

<%- include('../../includes/navigation.ejs', {html:html}) %>

<div class="col-lg-8">
    <form id="editDiscountTicket" name="editDiscountTicket" action="<%=discountTicket.length > 0 ? '/discountTicket/edit' : '/discountTicket'%>" method="post" >
        <fieldset>
            <legend>Informacion de Tiquete de Descuento</legend>
            <div class="form-group">
                <label for="title">Descripcion</label>
                <input type="text" class="form-control" id="title" name="name"
                       value="<%= discountTicket.length > 0 ? discountTicket[0].name : ''  %>">
            </div>
            <div class="form-group">
                <label for="total">Disponibles</label>
                <input type="number" class="form-control" id="total" name="total"
                       value="<%= discountTicket.length > 0 ? discountTicket[0].total : ''  %>">
            </div>
            <div class="form-group">
                <label for="discount">Descuento</label>
                <input type="number" class="form-control" id="discount" name="discount"
                       value="<%= discountTicket.length > 0 ? discountTicket[0].discount : ''  %>">
            </div>
            <div class="form-group">
                <%if (discountTicket.length > 0) {%>
                    <input type="hidden" value="<%= discountTicket[0].id%>" name="id">
                    <input type="hidden" value="<%= discountTicket[0].code%>" name="code">
                    <input type="hidden" value="<%= discountTicket[0].month_year%>" name="month_year">
                <%}%>
            </div>
            <button type="submit" class="btn btn-success text-white">Confirmar</button>
        </fieldset>

    </form>
</div>

<%- include('../../includes/end.ejs') %>
